body {
  background-color: #66d9e8;
  text-align: center;
  font-family: sans-serif;
}

.h1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

h1 {
  display: inline-block;
}

.btn {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 20px 40px;
  background-color: #1864ab;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.btn:hover {
  background-color: #fff;
  color: #1864ab;
}

@media screen and (max-width: 480px) {
  .btn:hover {
    background-color: #1864ab;
    color: #fff;
  }
  .btn:active {
    background-color: #fff;
    color: #66d9e8;
  }
}

.players {
  display: flex;
  justify-content: center;
  gap: 100px;
}

h2 {
  margin-bottom: 50px;
}

img {
  width: 40%;
}
